@use "global" as *;

.blog__top {
  @include mq(md) {
    position: relative;
    
  }
}

.blog__top::before {

    @include mq(md) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  width: 100%;
  height: 60.4593%; //500/827
  background-image: url(../images/common/blog_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
}

.section-title__blog {
  margin-top: rem(75);

  @include mq(md) {
  padding-top: rem(89);
  }
}

.blog__inner {  
  max-width: rem(600);

  @include mq(md) {
    max-width: rem(1440);
  }

}

.blog__inner.inner {
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq(md) {
  padding-left: rem(26); //5pxは微調整分
  padding-right: rem(21);
  }
}

.blog-cards__space {
    margin-top: rem(26);

    @include mq(md) {
    margin-top: rem(77);
    }
}

.button__wrapper.button__space--blog {
    margin-top: rem(40);

    @include mq(md) {
    margin-top: rem(82);
    padding-right: rem(14);
    }
}
