@use "global" as *;

.campaign__inner {
    padding-top: rem(37);
    max-width: rem(600);

    @include mq(md) {
    padding-top: rem(109);
    
    }
}

.swiper__space {
    margin-top: rem(23);

    @include mq(md) {
    margin-top: rem(35);
    }
}

.button__wrapper.button__space--campaign {
margin-top: rem(35);
margin-left: auto;
margin-right: auto;

@include mq(md) {
margin-top: rem(75);
}
}