@use "global" as *;

.main-view {
height: 100vh;
width: 100%;

}

.main-view__inner {
    height: 100%;
}

.main-view__swiper-wrapper {
    height: 100vh;
}

.swiper__main-view {
    height: 100vh;
}

  
  