@use "global" as *;


.access__header {
border-bottom: solid rem(1) $accent;
box-shadow: 0 rem(4) 0 0 rgba(0, 0, 0, 0.0609803922),;

@include mq(md) {
box-shadow: none;
padding-bottom: rem(2);
}
}

.access__header:hover {
    opacity: 0.7;
}

.access__header img {
    filter: drop-shadow(0 rem(4) rem(4) #00000040);
    display: block;
    padding-bottom: rem(6);
width: 58.9831%; //174/295
max-width: rem(200);
margin: 0 auto;

@include mq(md) {
filter: none;
}
}

.access__info {
text-align: center;

@include mq(md) {
    text-align: left;
display: flex;
margin-top: rem(19);
}
}

.access__address {
    text-shadow: 0 rem(4) rem(3) rgba(0, 0, 0, 0.3098);
    font-family: $font-family_jp1, $font-family_jp2;
    padding-top: rem(4);
    font-size: rem(16);
    color: $text-base;
    font-weight: $regular;
    line-height: 1.5;
    display: block;

    @include mq(md) {
    width: calc(62.0455% - rem(21));
text-shadow: none;
}
}

.access__address:first-child {
    margin-top: rem(10);

    @include mq(md) {
    margin-top: rem(-3);
    }
}

.access__address p {
    padding-top: rem(3.6);

}

.access__address__space {
    text-indent: rem(-10);

    @include mq(md) {
    text-indent: 0;
    }
}
