@use "global" as *;

.colorbox {
  position: relative;
}

.colorbox div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $accent;
}

.colorbox_right {
  position: relative;
}

.colorbox_right div.color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $accent;
}

.colorbox_top {
    position: relative;
}

.colorbox_top div.color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $accent;
}
