@use "global" as *;

.contact__wrapper {
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(80) 0;
    box-shadow: rem(4) rem(11) rem(6) rgba(0, 0, 0, 0.0609803922),
      rem(3) rem(4) 0 0 rgba(0, 0, 0, 0.0609803922) inset;
  }
}

.access__wrapper {
  @include mq(md) {
    width: 52.963%; //572/1080
    border-right: solid rem(1) $accent;
    padding-left: 4.6296%; //50/1080
    padding-right: 7.5926%; // 82/1080
  }
}

.access__map {
  margin-top: rem(15);
  
  @include mq(md) {
    margin-top: rem(9);
  }
}

.contact__content {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(20);
    width: 47.037%; //508/1080
    padding-right: 10.3704%; //112/1080
    padding-left: 7.5%; //81/1080
  }
}
