@use "global" as *;

.pc-nav {
  display: none;

  @include mq(md) {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.pc-nav__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
  color: $white;
  text-align: center;
  height: inherit;
  cursor: pointer;
}

.pc-nav__item a {
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: rem(20);
  padding-right: rem(20);
}

.pc-nav__title--en {
  font-size: rem(18);
}

.pc-nav__title--ja {
  font-size: rem(10);
  margin-top: rem(1);
  font-family: $font-family_jp1;
}
